/*
** USERDETAILS
*/
.user_details{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}
.user_prof_leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}
.user_prof_rgtside{
    display: flex;
    flex-direction: column;
    width: 50%;
}